<%= stylesheet_link_tag "archives.css" %>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>
        <!-- Loop to render archive entries -->
        <%
        @images = [] # TODO: get the real image paths
        for i in 0..8
            @images << i.to_s + ".jpg"
        end
        @images.each do |path| %>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag(path, :class => "img-responsive") %>
                </a>
            </div>
        <% end %>
    </div>

    <button onclick="playAud()" type="button">Onorico Flow Player</button>

    <audio id = "audio">
        <source src='/my audio.mp3' type="audio/mpeg">
    </audio>

    <audio controls="controls">
       <source src='/my audio.mp3' />
    </audio>

    <script>
    var audio = document.getElementById("audio");
       function playAud() {
        if (audio.paused){
            audio.play();
        }
        else{
            audio.pause();
        }
        }
    </script>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>